<div
  [ngClass]="{ reminder: task?.reminder }"
  class="task"
  (dblclick)="onToggle(task!)"
>
  <h3>
    {{ task?.text }}
    <div>
      <fa-icon
        (click)="onUpdate(task!)"
        [ngStyle]="{ color: 'green' }"
        [icon]="faTimes"
        style="padding: 0 5px"
      ></fa-icon>
      <fa-icon
        (click)="onDelete(task!)"
        [ngStyle]="{ color: 'red' }"
        [icon]="faTimes"
        style="padding: 0 5px"
      ></fa-icon>
    </div>
  </h3>
  <p>{{ task?.day }}</p>
</div>
